
td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #1f2936;
}

tr:nth-child(odd) {
    background-color: #1b2a3f;
}

tr.SelectedRow {
    background-color: #384c68;
}

tr {
    height: 8rem;
}